<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}
<!-- Setup Google Search Console -->
<meta name="google-site-verification" content="Jx9MpfEAmr8Y-jsT0yveWxg5vI1k_Xjr3GU6bKdSmGE" />
<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="/minimal-test/assets/img/favicon_temporary.jpg">
<!-- MathJax script-->
<script type="text/javascript" id="MathJax-script" async
src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

<!-- end custom head snippets -->
